{% extends "base.html" %}
{% block content %}
<section class="warp">
    <div class="container-md">
        <h2>후쿠오카 Fukuoka | 福岡</h2>
        <section>
            <h3 class="mb-5">돈코츠 라멘의 본고장으로 유명하며 시내에서 공항이 가장 가까운 규슈의 대표적 관광 도시</h3>
            <h4 class="mb-2">랜드마크</h4>
            <div class="container text-center ">
                <div class="row row-cols-2 flex-column flex-sm-row align-items-center">
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_castle.jpg" class="shadow rounded" alt="후쿠오카 성">
                        <p class="my-3 fw-bold">후쿠오카 성</p>
                        <p class="my-4 ">후쿠오카의 상징적인 건축물로, 17세기에 건립된 성입니다.
                            후쿠오카 시내의 유명한 명소 중 하나이며, 성 내부에는 후쿠오카 역사박물관이 위치해 있습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_ohhori.jpg" class="shadow rounded" alt="오호리 공원">
                        <p class="my-3 fw-bold">오호리 공원</p>
                        <p class="my-4 ">후쿠오카 시내에 있는 아름다운 공원으로, 대형 연못, 벚꽃 나무, 조깅로 등이 있습니다.
                            특히, 봄에는 벚꽃 축제가 열리며, 많은 사람들이 찾는 명소입니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_nakasudori.jpg" class="shadow rounded" alt="나카스 도리">
                        <p class="my-3 fw-bold">나카스 도리</p>
                        <p class="my-4 ">후쿠오카의 번화가로, 볼거리와 먹거리가 풍부합니다.
                            히스토릭한 건물과 다양한 상점, 레스토랑, 카페가 있어 산책하기에 좋은 장소입니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_nakasu.jpg" class="shadow rounded" alt="후쿠오카 나카스">
                        <p class="my-3 fw-bold">후쿠오카 나카스</p>
                        <p class="my-4 ">규슈 최대의 유흥가로 해 질 녘과 함께 나카스 강변에 모습을 드러내는 포장마차 거리이다.</p>
                    </div>
                </div>
            </div><h4 class="mb-2">식당</h4>
            <div class="container text-center ">
                <div class="row row-cols-2 flex-column flex-sm-row align-items-center">
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_res_senmon.jpg" class="shadow rounded" alt="센몬">
                        <p class="my-3 fw-bold">후쿠오카 라멘 센몬</p>
                        <p class="my-4 ">후쿠오카에서 유명한 라멘 전문점으로, 특히 톤코츠 라멘이 유명합니다.
                            돼지고기와 진한 스프, 쫄깃한 면발이 특징이며, 지역 주민들과 관광객들에게 인기가 있습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_res_yotarou.jpg" class="shadow rounded" alt="요타로우몬">
                        <p class="my-3 fw-bold">요타로우몬</p>
                        <p class="my-4 ">후쿠오카에서 유명한 꼬치 구이 전문점으로, 다양한 종류의 꼬치 요리를 즐길 수 있습니다.
                            신선한 재료와 특별한 소스가 매력적이며, 맥주와 함께 즐기기에 좋습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_res_matsuya.jpg" class="shadow rounded" alt="마츠야">
                        <p class="my-3 fw-bold">마츠야</p>
                        <p class="my-4 ">후쿠오카에서 유명한 고급 스시 레스토랑으로, 신선한 해산물을 사용한 정교한 스시를 맛볼 수 있습니다.
                            식재료의 신선도와 섬세한 조리법이 인상적이며, 고품질의 일본 전통 요리 경험을 즐길 수 있습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_res_takoyaki.jpg" class="shadow rounded" alt="타코야끼">
                        <p class="my-3 fw-bold">타코야끼</p>
                        <p class="my-4 ">후쿠오카에서 유명한 길거리 음식 중 하나로, 오징어와 채소가 들어간 고소한 팬케이크입니다.
                            후쿠오카의 야경을 감상하면서 거리에서 먹을 수 있는 맛있는 간식으로 인기가 있습니다.</p>
                    </div>
                </div>
            </div><h4 class="mb-2">숙소</h4>
            <div class="container text-center ">
                <div class="row row-cols-2 flex-column flex-sm-row align-items-center">
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_acc_grand.jpg" class="shadow rounded" alt="그랜드 하얏">
                        <p class="my-3 fw-bold">후쿠오카 그랜드 하얏</p>
                        <p class="my-4 ">후쿠오카 시내에 위치한 고급 호텔로, 현대적이고 편안한 객실을 제공합니다.
                            레스토랑, 스파, 헬스클럽 등 다양한 시설이 갖춰져 있으며, 접근성이 좋고 편안한 숙박을 즐길 수 있습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_acc_capoint.jpg" class="shadow rounded" alt="캐슬 포인트">
                        <p class="my-3 fw-bold">캐슬 포인트 후쿠오카 호텔</p>
                        <p class="my-4 ">후쿠오카 성과 가까운 곳에 위치한 호텔로, 역사적인 분위기를 느낄 수 있는 객실과 공용 공간을 제공합니다.
                            온천과 레스토랑도 갖추고 있어 휴식과 편안함을 즐길 수 있습니다.</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../../static/images/fukuoka_acc_amber.jpg" class="shadow rounded" alt="앰버서더">
                        <p class="my-3 fw-bold">후쿠오카 앰버서더 호텔</p>
                        <p class="my-4 ">후쿠오카 도시의 중심부에 위치한 비즈니스 호텔로, 깔끔하고 편안한 객실과 다양한 편의 시설을 제공합니다.
                            지하철역과 가까워 교통이 편리하며, 신사이바시와 도톤보리 등 주요 명소에 접근하기 좋습니다</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
{% endblock %}