{% extends "base.html" %}
{% block content %}
<section class="warp">
    <div class="container-md">
        <h2>중국</h2>
        <section>
            <p>Welcome to China!</p>
            <h3 class="mb-5">랜드마크를 소개합니다.</h3>
            <div class="container text-center ">
                <div class="row row-cols-2 flex-column flex-sm-row align-items-center">
                    <div class="col my-2 ">
                        <img src="../../static/images/japan_01.jpg" class="shadow rounded" alt="유니버설 스튜디오 재팬">
                        <p class="my-3 fw-bold">유니버설 스튜디오 재팬</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../static/images/japan_02.jpg" class="shadow rounded" alt="오사카 성">
                        <p class="my-3 fw-bold">오사카 성</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../static/images/japan_03.jpg" class="shadow rounded" alt="도톤보리">
                        <p class="my-3 fw-bold">도톤보리</p>
                    </div>
                    <div class="col my-2 ">
                        <img src="../../static/images/japan_04.jpg" class="shadow rounded" alt="아베노 하루카스">
                        <p class="my-3 fw-bold">아베노 하루카스</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>
{% endblock %}